<!DOCTYPE HTML>
<head>
	{% load static %}
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static "manager/css/addband.css"%}">

</head>


<body>
    {% include "manager/navbar.html"%}

    <div class="container">
		<p>Please fill out all information </p>
		<div class="form">
			<form action="{% url 'addband' %}" method='post'>
				{% csrf_token %}

				{{bandform.as_p}}

				<button type="submit" value="submit">submit</button>

			</form>
		</div>
	</div>
</body>



		