<!DOCTYPE HTML>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
</head>

<script>
	function cloneMore(selector, type) {
		//Get a new element soon to be modified
	    	var newElement = $(selector).clone(true);
		//Make a counter of elements to be passed to html
	    	var total = $('#id_' + type + '-TOTAL_FORMS').val();
	    	console.log(selector);
		newElement.find(':input').each(function() {
			var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
			console.log($(this).attr('name'));
			var id = 'id_' + name;
			$(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
	    	});
	    	newElement.find('label').each(function() {
			var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
			$(this).attr('for', newFor);
	    	});
	    	total++;
	    	$('#id_' + type + '-TOTAL_FORMS').val(total);
	    	$(selector).after(newElement);
	}

</script>


<p>Please fill out all information </p>

<form action="{% url 'addband' %}" method='post'>
	{% csrf_token %}
	
	{{showform.as_p}}
	{{setlistform.as_p}}
	
	<div class="songs">
		{{songformset.as_p}}
	</div>

	<input type="button" value="Add more" id="add_more">
	<script>
		$("#add_more").click(function() {
			//cloneMore("songs","form");
			$(".songs").clone().appendTo(".songs");
		});
	</script>

	
	{{bandform.as_p}}
	{{bandmembersformset.as_p}}
	<button name="submit">Submit</button>
		
	
</form>


