
<!DOCTYPE html>
<html lang="en">
  <head>
    {%load static%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "manager/css/bootstrap.min.css"%}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static "manager/css/starter-template.css"%}">
  </head>

  <body>
    {% include "manager/navbar.html" %}
    
    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{%static 'manager/js/slim.min.js'%}" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{%static 'manager/js/tether.min.js'%}" crossorigin="anonymous"></script>
    <script src="{%static 'manager/js/bootstrap.min.js'%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{%static 'manager/js/viewport-bug-workaround.js'%}"></script>
  </body>
</html>
