{% load managertags %}
<p>Currently Displaying all of your Shows for {{band.nameofband}} </p>

{% for show in shows %}
	<ul> 
		<li>
			You have a show at {{show.venue}} at {{show.datetime}}
			<form action={% url 'deleteshow' pk=show.pk %} method="post">
				{%csrf_token %}

				<button name={{show.pk}} value="{{ band.pk }}">
					Delete 
				</button>
			</form>






			<form action={%url 'editshow' pk=show.pk %} method="post">
				{%csrf_token%}

				<button name={{show.pk}} value="{{band.pk}}" >
						Edit {{show.pk}} {{showid}}
				</button>

				{% if show.pk|to_int == showid|to_int %}
					{{showform.as_p}}
					<input type="Submit" value="Submit">
				{% endif %}
					

			</form>
				

		</li> 

	</ul>

{%endfor%}

