<!doctype html>
<head>

	<title>Band Manager</title>

	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static "manager/css/home.css"%}"
	

</head>

<h1> Welcome to the Band Manager Website</h1>
<body>
	<div class="nav">
		<ul>
			<li><a href={% url "addband" %}>Add Band</a></li>
			<li><a href={% url "addshow" %}> Add Show</a></li>
			<li><a href={% url "displayband" %}>Display Bands</a></li>

		</ul>
	</div>

	<img src= "{% static "manager/images/homepic.jpg"%}" alt="My image"/>

</body>
<footer>
  <p>Foster Brown Incoporation</p>
  <p>Contact information: fosterbrown1998@gmail.com </p>
</footer>

